/* About-Background Section */
.about-us {
    position: relative;
    justify-items: center;
}

.about-background-img {
    background: linear-gradient(#3c4858b3), url(../../../assets/about-intro-image.png) no-repeat center center/cover;
    height: 50vh;
    width: 100%;
}

.about-intro {
    position: absolute;
    top: 200px;
}

/* About Section */
.about-section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 50px 20px 0;
}

.about-image {
    max-width: 450px;
    min-width: 300px;
    justify-self: center;
}

.about-image>img {
    width: 100%;
}

.about-content {
    max-width: 600px;
    min-width: 300px;
    align-content: center;
}

.about-content>h2 {
    margin-bottom: 30px;
}

.about-content>p {
    margin-bottom: 20px;
    color: lightslategray;
}

/* Our Mission, Vision, Who We Are Section */
.company-values {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    gap: 20px;
    padding: 50px 20px;
    margin-top: 50px;
    background-color: #f8f9fa;
}

.value-box {
    max-width: 300px;
}

.value-box h3 {
    padding-bottom: 10px;
}

.value-box p {
    color: lightslategray;
}

/* Doctors Section */
.doctors-section {
    padding: 50px 100px 0;
}

.doctors-section>h1 {
    text-align: center;
}

.doctors-grid {
    margin: 20px 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.doctors-section>a {
    display: block;
    justify-self: center;
}

@media screen and (max-width:1010px) {
    .doctors-section {
        padding: 50px 50px 0;
    }
}

@media screen and (max-width:670px) {
    .about-section {
        display: block;
        text-align: center;
    }

    .about-content {
        margin-top: 20px;
    }

    .about-content>h2 {
        margin-bottom: 20px;
    }

    .about-content>p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:500px) {

    .about-image,
    .about-content {
        min-width: 230px;
    }

    .company-values {
        display: block;
        text-align: center;
        justify-items: center;
        padding-bottom: 30px;
    }

    .value-box {
        padding-bottom: 20px;
    }

    .doctors-section {
        padding: 50px 10px 0;
    }
}