* {
  margin: 0;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Most Common Used */
.gradient-highlight {
  background: linear-gradient(to right, #3a47d5, #00d2ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Scroll To Top */
#scrollArrow {
  position: fixed;
  z-index: 3;
  right: 20px;
  bottom: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#scrollArrow>img {
  width: 40px;
  transition: transform 0.3s;
}

#scrollArrow>img:hover {
  transform: scale(1.2);
}

/* Buttons */
.btn-1 {
  text-decoration: none;
  background: linear-gradient(to right, #6d76db, #00d2ff);
  color: white;
  padding: 10px 20px 14px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.btn-1:hover {
  filter: brightness(1.2);
}

.btn-2 {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

/* Error Message */
.error-msg {
  font-weight: 500;
  display: block;
  color: red;
  font-size: 13px;
  height: 20px;
}

.error-msg-2 {
  text-align: center;
  padding-top: 10px;
}

/* No Doctors or Appointments */
.no-data {
  margin-top: 30px;
  text-align: center;
  color: #778899;
  font-weight: 500;
}