.doctor-card {
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    transition: all 0.5s ease;
}

.doctor-card:hover {
    transform: translateY(-10px);
    border-color: #00d2ff;
    background-color: #00d0ff20;
}

.doctor-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    justify-self: center;
    border-radius: 20px 20px 0 0;
    transition: all 0.5s ease;
}

.doctor-card:hover .doctor-image {
    transform: scale(0.97);
}

.doctor-info {
    padding: 10px;
}

.doctor-info>h3,
.doctor-info>p {
    font-weight: 500;
    padding-bottom: 5px;
}

.doctor-qualifications span {
    padding-left: 10px;
    color: lightslategray;
}

.btn-doctor-card {
    display: block;
    transition: all 0.5s ease;
}

.doctor-card:hover .btn-doctor-card {
    transform: translateY(-5px);
}